<div class="blockColorato">
  <h1>Con UnderControl gestisci la tua società con pochi click</h1>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
  <path
    fill="#2e552e"
    fill-opacity="1"
    d="M0,96L60,90.7C120,85,240,75,360,69.3C480,64,600,64,720,90.7C840,117,960,171,1080,170.7C1200,171,1320,117,1380,90.7L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
  ></path>
</svg>

<div class="card">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title><h3>Atleti e Allenatori</h3></mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Gestisci ogni singolo atleta e allenatore, registrando anagrafica e
        conservando i loro relativi documenti.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title-group>
      <mat-card-title><h3>Squadre</h3></mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <p>Componi e gestisci le tue squadre.</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title-group>
      <mat-card-title><h3>Rispetto dei ruoli</h3></mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <p>
        A ciascuno il suo: ogni persona che farà il login avrà un ruolo e potrà
        accedere a determinate informazioni.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="info">
  <h3>Vuoi Assistenza per accedere o vuoi maggiori informazioni?</h3>
  <button mat-button color="accent"><a href="mailto:undercontrol@mail.com">Contattaci!</a></button>
</div>


