p {
  font-size: 1.3rem;
}
a{
  color: whitesmoke;
}

.blockColorato {
   display: flex;
   flex-direction: row;
   background:  #0a910383;
   padding: 5rem 2rem 2rem 2rem;
   justify-content: space-around;
   div{
    display: flex;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    justify-content: center
   }
   .textino{
  width: 50%;
   }

}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:1rem 2rem;

  .card1{
    width: 80%;
    display: flex;
    flex-direction: row;
    div{
      width: 50%;
      padding: 1.5rem 0;
      box-sizing: border-box;
      text-align: center;
      line-height:2rem;
    }
  }
}
.why, .how{
  text-align: center;
  width:80% ;
  padding: 2rem 1rem;
  margin:1.5rem auto;
  line-height:2.3rem;
}


.info{
  background-color: #cbbcabb1;
  text-align: center;
  height: auto;
  padding: 2rem 4rem;
  h3{
    font-size: xx-large;
    padding: 2rem;
    margin: 0;
  }
}

@media only screen and (max-width: 425px){
  .card{
    width: 90%;
    margin: 0 auto;
    padding: 0 0;
    .card1{
      width: 100%;
    }
    div{
      padding:0 0;
      img{
        width: 150px;
        height: 150px;
      }
    }
  }
}
@media only screen and (max-width: 486px){
  .blockColorato{
    padding:3rem 0.5rem;
    flex-direction: column;
    align-items: center;
    .textino{
      width: 100%;
       }
    div{
      img{
        width: 190px;
        height: 190px;
      }
    }
  }

}

@media only screen and (min-width: 1046px){
  .why, .how{
    text-align: center;
    width:70% ;

    padding:2rem 8rem
  }
  .card{
    width: 60%;
    margin: 0 auto;
    padding: 0 3rem;
    div{
      padding:0 5rem
    }
  }
}

button{
  padding: 0.5rem 2rem;
}

