<div class="blockColorato" color="primary">
  <div class="textino">
      <h1>
        With UnderControl you manage your Society with a few clicks</h1>
  </div>

  <div>
    <img src="../../../../assets/img/logo uc senza sfondo.png" alt="" width="250px" height="250px">
  </div>
</div>

<div class="why">
  <h2>What is UnderControl..?</h2>
 <p>This web-app was born from the need to put order in the desks of the offices
  of sports clubs. You will be able to manage the data of the athletes, of the coaches, you will be able to compose the teams
  and organize them as you wish. <br>
  You will be able to monitor your society on any device: PC, Tablet or phone.</p>
</div>
<div class="card">
  <div class="card1">
          <div>
            <h2>Teams </h2>
        <p>
          Compose and manage your teams.
        </p>
      </div>
      <div>
        <img src="../../../../assets/img/team.png" alt="" width="150px" height="150px">
      </div>
  </div>

  <div class="card1">
      <div>
        <img src="../../../../assets/img/coach.png" alt="" width="150px" height="150px">
      </div>
      <div>
        <h2>Coaches </h2>
        <p>
          Register your coaches and assign them to the team of your choice.
        </p>
      </div>
  </div>

  <div class="card1">
        <div>
          <h2>Athletes</h2>
      <p>
        Manage every single athlete by registering personal data, payments and medical Certificates.
      </p>
    </div>
    <div>
      <img src="../../../../assets/img/sportivo.png" alt="" width="200px" height="200px">
    </div>
  </div>
</div>

<div class="how">
  <h2>What to do to get started?</h2>
 <p>
  You will need to send us an email containing the username you want to use and the name of your Society. You will be given a password
    (which you can later modify) and at this point you can start working. In addition to you, you can add other collaborators,
    that will help you in the management.
 </p>
 <button mat-raised-button color="accent"><a href="mailto:undercontrol@mail.com">Contact us!</a></button>
</div>

<div class="info">

  <h3>
    Do you want more information?</h3>
  <div>
     <button mat-raised-button color="accent"><a href="mailto:undercontrol@mail.com">Request information!</a></button>
  </div>

</div>


