<div class="blockColorato" color="primary">
  <div class="textino">
      <h1>Con UnderControl gestisci la tua società con pochi click</h1>
  </div>

  <div>
    <img src="../../../../assets/img/logo uc senza sfondo.png" alt="" width="250px" height="250px">
  </div>
</div>

<div class="why">
  <h2>Cos'è UnderControl..?</h2>
 <p>Questa web-app nasce dalla necessità di mettere ordine nelle scrivanie delle sedi
  delle società sportive. Potrai gestire i dati degli atleti, degli allenatori, potrai comporre le squadre
  e organizzarle come meglio vorrai. <br>
  Potrai monitorare la tua società su qualsiasi dispositivo: Pc, Tablet o telefono.</p>
</div>
<div class="card">
  <div class="card1">
          <div>
            <h2>Squadre </h2>
        <p>
          Componi e gestisci le tue squadre.
        </p>
      </div>
      <div>
        <img src="../../../../assets/img/team.png" alt="" width="150px" height="150px">
      </div>
  </div>

  <div class="card1">
      <div>
        <img src="../../../../assets/img/coach.png" alt="" width="150px" height="150px">
      </div>
      <div>
        <h2>Allenatori </h2>
        <p>
          Registra i tuoi allenatori e assegnali al team che preferisci
        </p>
      </div>
  </div>

  <div class="card1">
        <div>
          <h2>Atleti</h2>
      <p>
        Gestisci ogni singolo atleta registrando i pagamenti e le visite mediche.
      </p>
    </div>
    <div>
      <img src="../../../../assets/img/sportivo.png" alt="" width="200px" height="200px">
    </div>
  </div>
</div>

<div class="how">
  <h2>Cosa fare per iniziare?</h2>
 <p>Dovrai inviarci una mail dove riporti lo username che vorrai utilizzare e il nome della tua società. Ti verrà fornita una password
  (che potrai successivamente modificare) e a questo punto potrai iniziare a lavorare. Oltre a te potrai inserire altri collaboratori,
  che ti potranno aiutare nella gestione.
 </p>
 <button mat-raised-button color="accent"><a href="mailto:undercontrol@mail.com">Contattaci!</a></button>
</div>

<div class="info">

  <h3>Vuoi maggiori informazioni?</h3>
  <div>
     <button mat-raised-button color="accent"><a href="mailto:undercontrol@mail.com">Richiedi Informazioni!</a></button>
  </div>

</div>


