p {
  font-size: 1.3rem;
}
.blockColorato {
  background: rgb(76, 175, 80);
  background: linear-gradient(
    180deg,
    rgba(76, 175, 80, 1) 0%,
    rgba(207, 233, 211, 1) 57%
  );
  padding: 5%;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  mat-card {
    width: 20%;
    padding: 0 1.5rem 1.5rem 1.5rem;
    border: 1px solid #88888849;
    box-shadow: 5px 10px 5px #888888;
    margin-bottom: 2rem;
  }
}
