.butto {
  text-align: center;
  button {
    width: 200px;
    margin-top: 2rem;
    height: auto;
    box-sizing: content-box;
    padding: 0.8rem;
    border-radius: 10px;
    font-size: x-large;
  }
}
.containerCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;

  mat-card {
    width: 200px;
    padding: 0;
    margin-bottom: 10px;
   height: auto;
   mat-expansion-panel-header{
    padding: 1rem;
   }
   mat-card-actions{
      width: 70%;
      margin:0 auto;
      padding:0;
        button{
          width: 100%;
          background-color: white;
          box-shadow: 0px 3px 2px -2px rgb(0 0 0 / 20%),
                      0px 3px 3px 0px rgb(0 0 0 / 14%),
                      0px 2px 5px 0px rgb(0 0 0 / 12%);
          border: 1px solid rgb(0 0 0 / 20%);
          border-radius: 10px;
          padding:0.8rem 0.7rem;
          margin-bottom: 0.8rem;

        }
      }
    }
    }



