:host ::ng-deep .mat-list-item-content{
  justify-content: space-between;
}

.box{
  width: 700px;
  div{
    height: auto;
    p{
      margin-bottom: 2px;
    }
  }
  .bottoni{
    text-align: center;
    margin-bottom: 2px;
  }

}
@media only screen and (max-width: 910px){
  .box{
    width: 500px;
  }
}

@media only screen and (max-width: 675px){
  .box{
    width: 300px;
  }
}
  @media only screen and (max-width: 410px){
    .box{
      width: 250px;
        .bottoni{
          text-align: left;
        }
   }
}
