.mat-typography{
  display: flex;
  flex-direction: row;
  .form{
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px){
  .mat-typography{
    flex-direction: column;
  }
}
