<div *ngIf="bool==false">
  <h2 mat-dialog-title>Save new Coach</h2>
  <form class="example-form"  #f="ngForm"  (ngSubmit)="save()" >
  <mat-dialog-content class="mat-typography">
    <div class="form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" required ngModel name="name" placeholder="Ex. Mario" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Surname</mat-label>
        <input matInput type="text" required ngModel name="surname" placeholder="Ex. Rossi">
      </mat-form-field>

      <mat-form-field style="margin-bottom:6px ;" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput name="dateOfBirth" ngModel required [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" required  ngModel name="email" placeholder="Ex. m.r@example.com" >
      </mat-form-field>
</div>
<div class="form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Telephone Number</mat-label>
        <input matInput ngModel type="tel" required name="ntel" placeholder="333-4444555">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Fiscal Code</mat-label>
        <input matInput ngModel required name="fiscalCode"maxlength="16" minlength="16" placeholder="Ex. GTRQUE66D11V333V"
                                        style="text-transform: uppercase;"
                                        onkeyup="this.value = this.value.toUpperCase()">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput ngModel name="address" placeholder="Ex. via dei lupi, 11">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>CAP</mat-label>
        <input matInput ngModel name="cap" required maxlength="5" pattern="[0-9 ]*" placeholder="Ex. 12345">
      </mat-form-field>
    </div>
      <mat-form-field class="example-full-width" class="team" appearance="outline">
        <mat-label>Society</mat-label>
        <input matInput [(ngModel)]="society" readonly="readonly" name="society" placeholder="Ex. 12345">
      </mat-form-field>

  </mat-dialog-content>
    <mat-error *ngIf="error!=undefined">{{error}}</mat-error>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" cdkFocusInitial><mat-icon>person_add</mat-icon> Save Coach</button>
  </mat-dialog-actions>
  </form>
  </div>




  <div *ngIf="bool==true">
    <h2 mat-dialog-title>Update Coach</h2>
    <form class="example-form"  #f="ngForm"  (ngSubmit)="update(data.id)" >
    <mat-dialog-content class="mat-typography">
      <div class="form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="data.name" required name="name" placeholder="Ex. Mario" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Surname</mat-label>
        <input matInput type="text" [(ngModel)]="data.surname" required name="surname" placeholder="Ex. Rossi">
      </mat-form-field>

      <mat-form-field style="margin-bottom:6px ;" appearance="fill" >
        <mat-label>Choose a date</mat-label>
        <input matInput name="dateOfBirth"  [(ngModel)]="data.dateOfBirth" required [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email"  [(ngModel)]="data.email" required name="email" placeholder="Ex. m.r@example.com" >
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Telephone Number</mat-label>
        <input matInput type="tel" [(ngModel)]="data.ntel" required name="ntel" placeholder="333-4444555">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Fiscal Code</mat-label>
        <input matInput [(ngModel)]="data.fiscalCode" required name="fiscalCode" maxlength="16" minlength="16" placeholder="Ex. GTRQUE66D11V333V"
                                                      style="text-transform: uppercase;"
                                                      onkeyup="this.value = this.value.toUpperCase()">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="data.address" required name="address" placeholder="Ex. via dei lupi, 11">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>CAP</mat-label>
        <input matInput [(ngModel)]="data.cap" required name="cap"  maxlength="5" pattern="[0-9 ]*" placeholder="Ex. 12345">
      </mat-form-field>
</div>
      <mat-form-field class="example-full-width" class="team" appearance="outline">
        <mat-label>Society</mat-label>
        <input matInput [(ngModel)]="society" readonly="readonly" name="society" placeholder="Ex. 12345">
      </mat-form-field>



    </mat-dialog-content>
    <mat-error *ngIf="error!=undefined">{{error}}</mat-error>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" cdkFocusInitial><mat-icon>edit</mat-icon> Update Coach</button>
    </mat-dialog-actions>
    </form>
    </div>
