
div, .pag{
  width: 85%;
  margin: 0 auto;
  table, mat-form-field{
    width:100%;
    margin: 0 auto;
  }
}

.payment{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  div{
    margin: 0;
  }
}
@media only screen and (max-width: 930px){
  .payment{
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: initial;


  }
}
  @media only screen and (max-width: 601px) {
    div, .pag{
      width: 100%;
      margin: 0 auto;

      table, mat-form-field{
        width:100%;
        margin: 0 auto;
        font-size: small;
      }
    }
    .example-element-diagram {
      display: flex;
      flex-direction: row;
      height: auto;
      width: 100%;
      margin:0;
    }
  }
  @media only screen and (min-width: 480px){
    .tel{
      display: none;
    }
  }
  @media only screen and (max-width: 480px){
    .other{
      display: none;
    }
  }
.valid{
  font-size:smaller;
  padding:2px 5px;
  margin-left: 4px;
  border-radius: 100%;
  border: 2px solid green;
  background-color: rgba(130, 255, 130, 0.585)
}
.invalid{
  font-size:smaller;
  padding:2px 5px;
  margin-left: 4px;
  border-radius: 100%;
  border: 2px solid red;
  background-color: rgba(249, 132, 132, 0.531);
}
.unset{
  font-size:smaller;
  padding:2px 5px;
  border-radius: 100%;
  margin-left: 4px;
  border: 2px solid rgb(255, 187, 0);
  background-color: rgba(255, 161, 47, 0.531);
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
background-color: rgba(80, 112, 80, 0.398);
}

tr.example-element-row:not(.example-expanded-row):active {
/*   background: #efefef; */
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.example-element-diagram {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.mat-stroked-button{
  width: 100%;
}

.bottoni{
  text-align: center;
  button{
    margin-top: 0.5rem;
  }
}


.spinner-container {
  position: relative;
}
.spinner-background {
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
  border-color: rgba(128, 99, 178, 0.401);
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
}
