
div{
  width: 85%;
  margin: 0 auto;
  table, mat-form-field{
    width:100%;
    margin: 0 auto;
  }
}
  @media only screen and (max-width: 601px) {
    div{
      width: 95%;
      margin: 0 auto;
      table, mat-form-field{
        width:100%;
        margin: 0 auto;
      }
    }
    .example-element-diagram {
      display: flex;
      flex-direction: row;
      height: auto;
      width: 100%;
      margin:0;
    }
  }
.valid{
  padding:0.1rem;
  border-radius: 5px;
  border: 2px solid green;
  background-color: rgba(130, 255, 130, 0.585)
}
.invalid{
  padding:0.1rem;
  margin:auto;
  border-radius: 5px;
  border: 2px solid red;
  background-color: rgba(249, 132, 132, 0.531);
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
background-color: rgba(80, 112, 80, 0.398);
}

tr.example-element-row:not(.example-expanded-row):active {
/*   background: #efefef; */
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.example-element-diagram {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.mat-stroked-button{
  width: 100%;
}

.bottoni{
  text-align: center;
  button{
    margin-top: 0.5rem;
  }
}
