<form *ngIf="bool==false" class="example-form" (ngSubmit)="insertPayment(data.id)" #f="ngForm">

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Season</mat-label>
    <input matInput  ngModel name="season" placeholder="Ex. 22/23" >
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Amount</mat-label>
    <input matInput ngModel type="number" name="amount" class="example-right-align" placeholder="0">
    <span matPrefix>€&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Society</mat-label>
    <input matInput  [(ngModel)]="society" readonly="readonly" name="society" placeholder="Ex. 12345">
  </mat-form-field>
  <button type="submit">Add payment</button>

</form>


<form *ngIf="bool==true"  class="example-form" (ngSubmit)="updatePayment(data.idPayement)" #f="ngForm">

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Season</mat-label>
    <input matInput  [(ngModel)]="data.season" name="season" placeholder="Ex. 22/23" >
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="data.amount" type="number" name="amount" class="example-right-align" placeholder="0">
    <span matPrefix>€&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Payed</mat-label>
    <input matInput [(ngModel)]="data.payed" type="number" name="payed" class="example-right-align" placeholder="0">
    <span matPrefix>€&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Society</mat-label>
    <input matInput  [(ngModel)]="society" readonly="readonly" name="society" placeholder="Ex. 12345">
  </mat-form-field>

  <button type="submit">Add payment</button>
</form>
