
  <mat-toolbar color="primary">
    <div>
      <span>&copy; UnderControl-Sport 2022</span>
      <p>Technologies used</p>
      <div style="display:flex; flex-direction:row; justify-content: space-between;">
        <a href="https://angular.io/"><img src="../../../../assets/img/angular-logo.png" alt="angular-logo" width="40px" height="40px"></a>
        <a href="https://material.angular.io/"><img src="../../../../assets/img/material-logo.png" alt="Angularmaterial-logo"  width="40px" height="40px"></a>
        <a href="https://www.postgresql.org/"><img src="../../../../assets/img/Postgresql-logo.png" alt="Postgresql-logo" width="40px" height="40px"></a>
        <a href="https://www.java.com/it/"><img src="../../../../assets/img/Java-logo.png" alt="Java-logo"  width="40px" height="40px"></a>
        <a href="https://spring.io/"><img src="../../../../assets/img/spring-logo.png" alt="Spring-logo" width="40px" height="40px"></a>
        <a href="https://sass-lang.com/"><img src="../../../../assets/img/sass-logo.png" alt="Sass-logo"  width="40px" height="40px"></a>
      </div>
      <hr>
    </div>



    <div class="contatti">
      <h3>Contact</h3>
      Developer: Simone Nicotra
      <a style="display:flex; align-items:center;"
          href="mailto:simone.nicotra95@gmail.com"
        ><mat-icon> email</mat-icon>simone.nicotra95@gmail.com</a>

      <a style="display:flex; align-items:center;"
          href="tel:+333 222 444"><mat-icon> phone</mat-icon>3484795030</a>
    </div>
  </mat-toolbar>
