

  mat-toolbar {
  display: flex;
  justify-content: space-around;
  height: auto;

  box-shadow:  0px -2px 4px rgba(20, 121, 0, 0.637);
  padding-top: 1rem;
  padding-bottom: 1rem;
  hr{
    display: none;
  }
  .contatti {
    display: flex;
    flex-direction: column;

    a {
      color: black;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 601px) {
  mat-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    hr{
      display: inherit;
      width: 80%;
      margin: 1rem auto;
    }
    .contatti{
      text-align: center;
    }
  }

}

