<div  mat-dialog-content>

  <mat-list>
    <div *ngFor="let item of data.list">
      <mat-list-item>
        <div>
        <p>PRODUCTION -> {{item.productionDate}} </p>
        <p>EXPIRATION -> {{item.expirationDate}}</p>

        </div>
        <div>
          <button matTooltip="Delete Certificate" matTooltipPosition="below" (click)="deleteCertificate(item.id)"><mat-icon>delete</mat-icon></button>
        </div>
      </mat-list-item>
    <mat-divider></mat-divider>
    </div>

  </mat-list>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
