<div mat-dialog-content>
<h2>List of All Medical Certificates</h2>
  <mat-list>
    <div class="bigbox" *ngFor="let item of data.list">

        <div class="box">
        <p>PRODUCTION -> {{item.productionDate}} </p>
        <p>EXPIRATION -> {{item.expirationDate}}</p>

        </div>
        <div class="bottoni">
          <button mat-raised-button color="warn" matTooltip="Delete Certificate" matTooltipPosition="below" (click)="deleteCertificate(item.id)"><mat-icon>delete</mat-icon>Delete</button>
          <button mat-raised-button (click)="openDialogCertificateUpdate(item.id)" ><mat-icon>edit</mat-icon>Update</button>
        </div>

    <mat-divider></mat-divider>
    </div>

  </mat-list>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
