<div class="balance">
  <div>
  <h3>Total amount to pay: {{totalAmount}}    <span>100%</span></h3>
  <h3 >Total Payed: {{totalPayed}}      <span *ngIf="perc!=undefined && totalPayed!=0">{{perc.toFixed()}}%</span></h3>
</div>
<div>
  <span class="spinner-container">
  <div *ngIf="perc!=undefined && totalPayed!=0" class="spinner-background">{{perc.toFixed()}}%</div>
  <mat-progress-spinner #spinner
      color="accent"
      mode="determinate"
      value="{{perc}}">
  </mat-progress-spinner>
</span>
</div>
</div>


