<h2>Update your Credential</h2>
<form class="example-form"  #f="ngForm"  (ngSubmit)="updateCredential(data.id)" >
  <mat-dialog-content class="mat-typography">

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput  [(ngModel)]="data.username" required name="username"  placeholder="Ex. MarRossi">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput ngModel required name="password" placeholder="Ex. abc123Sushi">
    </mat-form-field>

<section class="example-section">
  <h4><strong>Condition</strong> </h4>
  <p>If you change your credentials you will be logged out and you will have to log in with your new credentials. <br>
    Are you sure?
  </p>
      <mat-checkbox class="example-margin"[(ngModel)]="isDisabled" name="check" >I'm Sure</mat-checkbox><!-- (change)="onCheckboxChange()" -->
    </section>


  </mat-dialog-content>
  <mat-error *ngIf="error!=undefined">{{error}}</mat-error>
  <mat-dialog-actions align="end">

    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="isDisabled"><mat-icon>edit</mat-icon> Update Credential</button>
  </mat-dialog-actions>
  </form>
