
div{
  width: 85%;
  margin: 0 auto;
  table, mat-form-field{
    width:100%;
    margin: 0 auto;
  }
}
  @media only screen and (max-width: 601px) {
    div{
      width: 95%;
      margin: 0 auto;
      table, mat-form-field{
        width:100%;
        margin: 0 auto;
      }
    }
    .example-element-diagram {
      display: flex;
      flex-direction: row;
      height: auto;
      width: 100%;
      margin:0;
    }
  }
  @media only screen and (max-width: 640px) {
    div {
      .mat-elevation-z8 {
        margin-left: 0px;
        .mat-cell,
        .mat-stroked-button {
          font-size: x-small;
        }
        th.mat-header-cell {
          text-align: center;
          font-size: x-small;
          font-weight: 500;

        }
      }
      tr.mat-row,
      tr.mat-footer-row {
        text-align: center;
      }
    }
  }
.valid{
  padding:0.1rem;
  border-radius: 5px;
  border: 2px solid green;
  background-color: rgba(130, 255, 130, 0.585)
}
.unset{
  padding:0.1rem;
  border-radius: 5px;
  border: 2px solid rgb(255, 187, 0);
  background-color: rgba(255, 161, 47, 0.531);
}
.invalid{
  padding:0.1rem;
  margin:auto;
  border-radius: 5px;
  border: 2px solid red;
  background-color: rgba(249, 132, 132, 0.531);
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
background-color: rgba(80, 112, 80, 0.398);
}

tr.example-element-row:not(.example-expanded-row):active {
/*   background: #efefef; */
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.example-element-diagram {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.mat-stroked-button{
  width: 100%;
}
