<!-- =====================  NAVBAR  ======================
        drawer.toggle permette di aprire la sidebar -->
<mat-toolbar color="primary">

    <mat-icon class="icona" (click)="drawer.toggle()">menu</mat-icon><span>UnderControl</span>


<div class="toggle">
    <mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode"></mat-slide-toggle>
</div>
</mat-toolbar>

<!-- =====================  SIDEBAR  ====================== -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="ui"><mat-icon>home</mat-icon></a>

      <a mat-list-item href="#" routerLink="profile">Profile</a>

      <a mat-list-item href="#" routerLink="register">Register User & Admin</a>

<h4>Registry</h4>
      <a mat-list-item href="#" routerLink="athletes">Athletes</a>

      <a mat-list-item href="#" routerLink="coaches">Coaches</a>

      <a mat-list-item href="#" routerLink="teams">Teams</a>

<h4>Finances</h4>

      <a mat-list-item href="#" routerLink="finance">Finance</a>


      <button class="logout" mat-list mat-raised-button color="warn" (click)="logout()">Logout</button>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
