
.login {
  width: 50%;
  padding-top:1rem;
  margin: 4rem auto;
  text-align: center;
  border:solid 2px rgb(64, 112, 44);
  border-radius: 1rem;
  .back{
    padding-left: 1rem;
    width: 100%;
    text-align: left;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    mat-form-field {
      width: 90%;
      margin: 0 auto;

    }
    .accedi {
      padding: 1rem;

      &:hover{
        cursor: pointer;
      }
    }
  }
}


