
.login {
  width: 60%;
  min-width: 300px;
  padding-top:1rem;
  margin: 4rem auto;
  text-align: center;
  border:solid 2px rgb(64, 112, 44);
  border-radius: 1rem;
  .back{
    padding-left: 1rem;
    width: 90%;
    text-align: left;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    mat-form-field {
      width: 90%;
      margin: 0 auto;

    }
    .accedi {
      padding: 1rem;

      &:hover{
        cursor: pointer;
      }
    }
  }
}


@media only screen and (min-width: 900px){
  .login {
    width: 40%;
}
}
