<div class="login">
  <div class="back">
    <button (click)="back()" mat-mini-fab color="primary">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
  <h1>Login</h1>
  <!-- predispongo i campi di input al passggio dati -->
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Enter your username</mat-label>
      <input name="userName" ngModel matInput placeholder="Mario" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        name="password"
        ngModel
        class="inpo"
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>


    <mat-error *ngIf="error!=undefined">Incorrect Username or Password</mat-error>


    <button type="submit" class="accedi" mat-stroked-button>Accedi</button>
  </form>
</div>
