<div class="detail" mat-dialog-content>

<div>
  <button mat-icon-button class="edit" (click)="openDialog(data.id)"><mat-icon>edit</mat-icon></button>
  <p> Name: <strong>{{data.name}}</strong> </p>
  <p> Surname: <strong>{{data.surname}}</strong> </p>
  <p> DateOfBirth: <strong>{{data.dateOfBirth}}</strong></p>
  <p> Email:  <a href="mailto:{{data.email}}">{{data.email}}</a>  </p>
  <p> Telephone Number: <a href="tel:{{data.ntel}}"></a>{{data.ntel}} </p>
  <p> FiscalCode: <strong><span style="text-transform: uppercase;">{{data.fiscalCode}}</span></strong> </p>
  <p> Address: <strong>{{data.address}}, {{data.cap}}</strong></p>
</div>

<div class="tab">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="season">
      <th mat-header-cell  *matHeaderCellDef> Season </th>
      <td mat-cell *matCellDef="let element"> {{element.season}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount/Payed </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}}/{{element.payed}}  </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="paymentStatus">
      <th mat-header-cell  *matHeaderCellDef> PaymentStatus </th>
      <td mat-cell *matCellDef="let element">
        <span class="valid" *ngIf=" element.paymentStatus==true">PAYED</span>
        <span class="invalid" *ngIf="element.paymentStatus==false">NOT PAYED</span>
      </td>
    </ng-container>

       <!-- Weight Column -->
       <ng-container matColumnDef="options">
        <th mat-header-cell class="headtab" *matHeaderCellDef> Options </th>
        <td mat-cell *matCellDef="let element">
          <button mat-stroked-button [matMenuTriggerFor]="menu">Options</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialogPaymentUpdate(element.id)" ><mat-icon>edit</mat-icon>Update</button><br>
              <button mat-menu-item color="warn" (click)="deletePayement(element.id)"><mat-icon>delete</mat-icon> Delete</button>
            </mat-menu>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

</div>

