<div>
  <p> Name: <strong>{{data.name}}</strong> </p>
  <p> Surname: <strong>{{data.surname}}</strong> </p>
  <p> DateOfBirth: <strong>{{data.dateOfBirth}}</strong></p>
  <p> Email:  <a href="mailto:{{data.email}}">{{data.email}}</a>  </p>
  <p> Telephone Number: <a href="tel:{{data.ntel}}"></a>{{data.ntel}} </p>
  <p> FiscalCode: <strong><span style="text-transform: uppercase;">{{data.fiscalCode}}</span></strong> </p>
  <p> Address: <strong>{{data.address}}, {{data.cap}}</strong></p>
</div>
<div>

</div>


