@import "@angular/material/theming";
@include mat-core();

$mat-primary-scheme: (
  100: #b6deb3,
  500: #0b9103,
  700: #067402,
  contrast: (
100: rgba(0, 0, 0, 0.87),
500: #ffffff,
700: #ffffff,
),
);
$mat-accent-scheme: (
100: #dccef5,
500: #8b5bde,
700: #6e40d1,
contrast: (
100: rgba(0, 0, 0, 0.87),
500: #ffffff,
700: #ffffff,
),
);
$mat-warn-scheme: (
100: #f5b1c2,
500: #e92943,
700: #a72929,
contrast: (
100: rgba(0, 0, 0, 0.87),
500: rgba(255, 255, 255, 0.87),
700: #ffffff,
),
);


$mat-primary-schemee: (
100: #a2cc9f,
500: #41933db8,
700: #2e552e,
contrast: (
100: rgba(0, 0, 0, 0.87),
500: #ffffff,
700: #ffffff,
),
);
$mat-accent-schemee: (
100: #b0a4c5,
500: #5c1acd,
700: #2b223f,
contrast: (
100: rgba(0, 0, 0, 0.87),
500: rgba(240, 240, 240, 0.87),
700: #ffffff,
),
);
//palette Light-Mode
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);
$mat-warn-palette: mat-palette($mat-warn-scheme);
//palette Dark-Mode
$mat-primary-paletteD: mat-palette($mat-primary-schemee);
$mat-accent-paletteD: mat-palette($mat-accent-schemee);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette,$mat-warn-palette);

.light-mode {
@include angular-material-theme($app-light-theme);

}

$app-dark-theme: mat-dark-theme($mat-primary-paletteD, $mat-accent-paletteD,$mat-warn-palette);

.dark-mode {
@include angular-material-theme($app-dark-theme);

background-color: #333;
color: whitesmoke;
}

html,
body {
height: 100%;
}
body {
margin: 0;
font-family: Roboto, "Helvetica Neue", sans-serif;

a{
  text-decoration: none;
}
}
