div {
  width: 100%;
  margin: 0 auto;
  table,
  mat-form-field {
    width: 100%;
    margin: 0 auto;
  }
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background-color: rgba(80, 112, 80, 0.398);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  display: flex;
  flex-direction: row;
  height: auto;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.bottAggiungi {
  width: 20%;
}
@media only screen and (min-width: 950px) {
  .tab {
    table {
      min-width: 500px;
      margin-left: 10px;
    }
  }
}
@media only screen and (max-width: 950px) {
  .mat-elevation-z8 {
    width: 500px;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 640px) {
  .tab {
    .mat-elevation-z8 {
      min-width: unset;
      width: 350px;
      margin-left: 0px;
      .mat-cell,
      .mat-stroked-button {
        font-size: x-small;
      }
      th.mat-header-cell {
        text-align: center;
        font-size: x-small;
        font-weight: 500;
        padding: 0;
      }
    }
    .example-element-diagram {
      display: flex;
      flex-direction: row;
      height: auto;
      width: 100%;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 490px) {
  .tab {
    .mat-elevation-z8 {
      width: 250px;
    }
  }
}
